body{
    background-color: white;
}
.form-gp{
    display: grid;
    
    grid-template-columns: 50% 50%;
   
}

form{
    display:flex;
    flex-direction: column;
    gap:10px;
}
form span{
    color:red;
}
form input{
    width:60%;
    height:2rem;
}
form button{
    background-color: black;
    color:white;
    width:6rem;
    height:2.5rem;

}

/* responsive  */
@media(max-width:1440px ){
    .form-gp{
        grid-template-columns: 1fr;
        gap:3rem;
        justify-items: center;
    }
    form{
     
        width:100%;
        padding:1rem;
        /* align-items: center; */
    }
    form input{
        width:100%;
    }

}
@media(max-width:768px ){
 
}