:root {
  --body_color: #383854;
  --primary_color: #2E2E48;
  --text_color:#FFFFFF;
  --confirm_color:#475BE8;
  --cancle_btn_color: #F7941D;
}


.dashboardrow 
{
    display: flex;
    margin-top: 1rem;
    gap:1rem;
    border-radius: 10px;

}
.container{
    border-radius:10px;
}

.box
{
    width: 100%;
  
    background-color: var(--primary_color);
    border-radius: 20px;
   
}

.box .content
{
    color: rgb(229, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px;

  
}

.bar-chart
{
    width: 740px;
    background-color: rgb(46,46,72);
    margin-right: 20px;
    flex: 1;
    padding:2rem;
}
.pie-chart
{
    width: 360px;
    background-color: rgb(46,46,72);
    padding:2rem;
   
}