.graph {
  margin-top: 2rem;
  /* background-color: red; */
  display:flex;
  flex-wrap: wrap;
  gap:1rem;
    /* display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr); */
}
.box{
    width:30%;
    display: flex;
    /* background-color: green; */
}
