.staffEditForm{
    display:flex;
    flex-direction: column;
    padding:2rem;
    gap:1rem;
    background-color: #2E2E48;
    border-radius: 5px;
}
.staffEditForm span{
    color:#FA0E0E;
}
.staffEditForm input{
   background-color: transparent;
   border:1px solid #FFFFFF;
   padding:.5rem;
   color:#FFFFFF;
   border-radius: 5px;
   margin-top:1rem;
}
select{
    background-color: transparent;
    color:#FFFFFF;
    border:1px solid #FFFFFF;
    padding:.5rem;
    border-radius: 5px;
    margin-top: 1rem;

}
option{
    background-color: #2E2E48;
    color: #FFFFFF;
    
}

.firstRow , .row{
    display:flex;
    gap: 3rem;
    /* background-color: red; */
    /* justify-content: space-around; */
}
.secondRow input{
    width:100%;
    justify-content: space-between;
  
}
.row input{
    /* width:20rem; */
    /* background-color: yellow; */
}
.photo input{
    border:3px dashed #FFFFFF;
}
.btn{
    padding-right:.5rem;
   text-align: right;
}
.btn input{
    border: none;
    border-radius: 5px;
}
.btn input:nth-child(1){
    padding:.7rem 2rem;
    background-color: #F7941D;
    color:#FFFFFF;
    border:none;
    border-radius:5px;

}
.btn input:nth-child(2){
    padding:.7rem 1rem;
    background-color: #475BE8;
    color:#FFFFFF;
}