@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');:root {
    --body_color: #383854;
    --primary_color: #2E2E48;
    --text_color:#FFFFFF;
    --confirm_color:#475BE8;
    --cancle_btn_color: #F7941D;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
body{
    background-color: var(--body_color);
    color: var(--text_color);
    font-family: "Exo 2";
    padding:2rem;
}
header{
    height: 70px;
    padding: 1rem 0; 
    display:flex;
    align-items: center;
}
.adminTitle{
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: var(--text_color);
}
a:hover{
    color:var(--confirm_color);
    opacity: .5;
}
li{
    list-style: none;
}

.sidebar{
    position: fixed;
    top: 0;
    left:0;
    width:3rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
   
    background: var(--primary_color);
    padding: 1rem 2rem;
    transition: all 0.5s ease;
    z-index: 20;
}

.expand{
    width:15rem;
    transition: all 0.5s ease;
}

#sidebar:not(.expand) .side-item .hidden{
    display:none;
}


.side-item{
    display:flex;
    margin-top:2rem;
    gap:1rem;
    cursor:pointer;
}




.right{
    width:95%;
    margin-left: 5rem;
    transition: all 0.5s ease;
}
.right.active{
    /* background-color: red; */
    width:85%;
    margin-left: 15rem;
    transition: all 0.5s ease;
}
.topnav{
    background-color: var(--primary_color);
    display:flex;
    justify-content: space-between;
    padding:0 1rem;
    border-radius: 5px;
    height: fit-content;
    align-items: center;
    border-radius: 5px;
}
.rightnav{
    display:flex;
    align-items: center;
    gap:1rem;
}
    
.date{
    width: 13%;
}
.date input, .sort select{
    background-color: var(--body_color);
    color: var(--text_color);
    padding:1rem;
    border-radius: 5px;
}
.table{
    background-color: var(--primary_color);
    margin-top:2rem;
    padding:1rem;
 
}
table{
    
    width: 100%;
    text-align: center;
    border-spacing: 1rem;
    border-radius: 5px;
    margin-top:1rem;
    /* border-radius: 50px; */
}
/* input[type="file"]
{
    display: none;

} */
/* .image{
    border:1px solid var(--cancle_btn_color);
} */
.btn {
    width:10rem;
    background-color: var(--primary_color);
    border-radius: 5px;
    padding: 1rem;
    color:var(--text_color);
    cursor: pointer;
    display:flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.btn input{
    padding: .5em;
    color:var(--text_color);
}
.btn input:focus{
    outline: none;
}
.btn button{
    background-color: transparent;
    border:none;
}
.btn button i{
    color:var(--text_color);
}

/* .btn a{
    display:flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.btn a:hover{
    color:var(--text_color);
} */
.btn_gp{
    margin-top: 1rem;
}
.btn:hover{
    opacity: .5;
}
.search_btn{
    width:12rem;
  
   text-align: center;
   border:1px solid var(--text_color);
}
.search_btn input{
    background-color: transparent;
    border: 0;
    width: 100%;
}
.add_btn{
    background-color:var(--confirm_color);
    
}
.cancel_btn{
    background-color: var(--cancle_btn_color);
}
.btn a{
    display:flex;
    gap:12px;

}
.top_div{
    display:flex;
    justify-content: space-between;
    margin-top:2rem;
    
  
}
.dateFilter{
    
    display:flex;
    gap:1rem;
    align-items: center;
}
.dateFilter input{
    background-color: transparent;
    color: var(--text_color);
    padding:1rem;
    border-radius: 5px;
}
.dateFilter button{
    height: fit-content;
    background-color: transparent;
    color: var(--text_color);
    padding:1rem;
    border-radius: 5px;

}
.right_div{
    display:flex;
    gap:1rem;
    align-items: flex-end;
    /* padding: 1rem; */
}
header{
    display: flex;
    align-content: center;
    gap:1rem;
}
.title{
    display:flex;
    justify-content: space-between;
    /* background-color: red; */
}

.active_link{
    color:var(--confirm_color);
}
/* 
.pagination{
    margin-top:1rem;
    display: flex;
    gap:1rem;
    justify-content: flex-end;
}
.pagination a{
    background-color: var(--primary_color);
    padding: 1rem;
}
.pagination a:active{
    background-color: #F7941D;
}
 */

 .pagination{
    background-color: transparent;
    margin:1rem;
    display: flex;
    gap:1rem;
    justify-content: flex-end;

 }
.page-item{
    border:1px solid var(--confirm_color);
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}


.totalAmt{
    background-color:var(--confirm_color);
    padding:2rem;
}

.deliverRadio:after , .pendingRadio:after , .cancelRadio::after{
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.deliverRadio:checked:after , .pendingRadio:checked:after , .cancelRadio:checked:after{
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.pendingRadio:checked:after {
    background-color: #ffa500;
}
.deliverRadio:checked:after {
    background-color: green;
}
.cancelRadio:checked:after {
    background-color: red;
}

.noResult{
    margin:   10rem 1px;
    text-align: center;
}
.noResult i{
    font-size: 100px;
    margin-bottom:50px;
}
.searchForm input ,.dateForm input{
    padding:15px 30px;
    background-color: transparent;
    border: 1px solid --text_color;
    border-radius: 5px;
    color:var(--text_color);
}
.searchForm button ,.dateForm button{
    padding:15px 30px;
    cursor:pointer;
    border-radius: 5px;
}
.searchForm button:hover , .dateForm button:hover{
    background-color: black;
    color:var(--text_color);
}
