.top-div{
    display:flex;
    justify-content: space-between;
}
.filter{
    display:flex;
    gap:1rem;
}
.search{
    border:1px solid #FFFFFF;
    padding:.5rem .3rem;
    width:13rem;
    border-radius: 5px;
    display:flex; 
    justify-content: space-between;  
}
.sort select{
    background-color: #2E2E48;
    color:#FFFFFF;
    padding:.6rem;
    border-radius: 5px;
    border:none;
}
.staffList{
    background-color:#2E2E48 ;
    padding:2rem;
    border-radius: 5px;
    
}
.staffListTitle {
    display:flex;
    justify-content: space-between;
}
.staffListTitle a{
    background-color: #475BE8;
    color:#FFFFFF;
    text-decoration:none;
    display:flex;
    padding:.6rem 1rem; 
    border: none;
    /* width:8rem; */
    border-radius: 5px;
    gap:1rem;
    justify-content: space-around;
    
}
.staffListTable{
    border-radius: 5px;
    margin-top:1rem;
    border:1px solid #ffffff1e;

}

.staffListHeader{
    background-color: #383854;
    text-align: left;
}
.row{
    display:grid;
    /* grid-template-columns: repeat(8,1fr); */
    grid-template-columns:.5fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr;
    padding-left:2rem;
    padding-top:1rem;
    padding-bottom: 1rem;
}
.active{
    color:#4CE13F;
}
.inactive{
    color:#FF0000;
}
.suspended{
    color:#F7941D;
}
.role {
    color:#FFFFFF;
    background-color: #2E2E48;
    border: none;
}
.pagination{

    margin-top: 1rem;;
    text-align: right;
}
.pagination a{
    text-decoration: none;
    border-radius: 5px;
    border:1px solid #475BE8;
    color:#FFFFFF;
    padding:.5rem .7rem;
    margin-right:.2rem;
    margin-left: .2rem;
}
.pagination_active{
    background-color: #475BE8;
}